<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<script src="/socket.io/socket.io.js"></script>
	<script>
	io = io.connect();
	  // Emit ready event, and wait for acknowledgement.
	 
	</script>
	
	<form id="login_form" action="/process" method="post">
		<input type="text" name="name" />
		<input type="submit" value="Login" />
	</form>
</body>
</html>